--
-- PostgreSQL database dump
--

\restrict b49JC3uW9pZRSqxiKOdEhQK40MYwrr9AUa0Cqs9aynWRQ0SzRSqxmrZA7lt2bnX

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_history (
    id integer NOT NULL,
    app_owner character varying(50) NOT NULL,
    prompt_preview text,
    response text,
    status character varying(20),
    error_message text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ai_history OWNER TO postgres;

--
-- Name: ai_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_history_id_seq OWNER TO postgres;

--
-- Name: ai_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_history_id_seq OWNED BY public.ai_history.id;


--
-- Name: ceria_bps_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ceria_bps_data (
    id integer NOT NULL,
    indicator_id integer,
    region_id integer NOT NULL,
    region_name text NOT NULL,
    value numeric(10,2),
    period text NOT NULL,
    period_year text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ceria_bps_data OWNER TO postgres;

--
-- Name: ceria_bps_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ceria_bps_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ceria_bps_data_id_seq OWNER TO postgres;

--
-- Name: ceria_bps_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ceria_bps_data_id_seq OWNED BY public.ceria_bps_data.id;


--
-- Name: ceria_bps_indicators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ceria_bps_indicators (
    id integer NOT NULL,
    bps_var_id integer NOT NULL,
    label text NOT NULL,
    unit text,
    description text,
    last_sync timestamp without time zone
);


ALTER TABLE public.ceria_bps_indicators OWNER TO postgres;

--
-- Name: ceria_bps_indicators_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ceria_bps_indicators_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ceria_bps_indicators_id_seq OWNER TO postgres;

--
-- Name: ceria_bps_indicators_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ceria_bps_indicators_id_seq OWNED BY public.ceria_bps_indicators.id;


--
-- Name: ceria_bps_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ceria_bps_settings (
    id integer NOT NULL,
    api_key text,
    base_url text DEFAULT 'https://webapi.bps.go.id/v1/api'::text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    name text,
    category text,
    variable_id text,
    frequency text,
    platform text,
    last_status text
);


ALTER TABLE public.ceria_bps_settings OWNER TO postgres;

--
-- Name: ceria_bps_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ceria_bps_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ceria_bps_settings_id_seq OWNER TO postgres;

--
-- Name: ceria_bps_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ceria_bps_settings_id_seq OWNED BY public.ceria_bps_settings.id;


--
-- Name: faqs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faqs (
    id text NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    category character varying(50) NOT NULL,
    tags text[],
    is_active boolean DEFAULT true,
    "order" integer DEFAULT 0,
    created_by text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.faqs OWNER TO postgres;

--
-- Name: news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    excerpt text,
    image text,
    category character varying(50) DEFAULT 'General'::character varying,
    tags text[],
    status character varying(20) DEFAULT 'draft'::character varying,
    source character varying(50) DEFAULT 'original'::character varying,
    author_id text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    published_at timestamp without time zone
);


ALTER TABLE public.news OWNER TO postgres;

--
-- Name: news_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.news_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.news_id_seq OWNER TO postgres;

--
-- Name: news_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.news_id_seq OWNED BY public.news.id;


--
-- Name: pembelajaran; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pembelajaran (
    id text NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    type character varying(20) NOT NULL,
    category character varying(100),
    author character varying(100),
    age_group character varying(50),
    aspect character varying(50),
    tags text[],
    stakeholder character varying(100),
    thumbnail text,
    pdf_url text,
    youtube_id character varying(50),
    duration character varying(20),
    format character varying(50),
    features text[],
    usage text,
    pages integer,
    views integer DEFAULT 0,
    downloads integer DEFAULT 0,
    likes integer DEFAULT 0,
    rating numeric(3,2) DEFAULT 0,
    is_active boolean DEFAULT true,
    publish_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by text,
    created_by_fullname character varying(255),
    created_by_kl character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT pembelajaran_type_check CHECK (((type)::text = ANY ((ARRAY['panduan'::character varying, 'video'::character varying, 'tools'::character varying])::text[])))
);


ALTER TABLE public.pembelajaran OWNER TO postgres;

--
-- Name: ran_paud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ran_paud (
    id text NOT NULL,
    kl_id character varying(50) NOT NULL,
    kl_name character varying(255) NOT NULL,
    program text NOT NULL,
    jumlah_ro integer DEFAULT 0,
    indikators jsonb DEFAULT '[]'::jsonb,
    status character varying(20) DEFAULT 'draft'::character varying,
    approved_by text,
    approved_at timestamp without time zone,
    rejection_reason text,
    submitted_at timestamp without time zone,
    regulation_doc_name character varying(255),
    regulation_doc_url text,
    is_active boolean DEFAULT true,
    created_by text,
    updated_by text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ran_paud OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'admin_kl'::character varying,
    kl_id character varying(50),
    kl_name character varying(255),
    region_name character varying(100),
    province character varying(100),
    city character varying(100),
    permissions jsonb DEFAULT '{}'::jsonb,
    is_active boolean DEFAULT true,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: ai_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_history ALTER COLUMN id SET DEFAULT nextval('public.ai_history_id_seq'::regclass);


--
-- Name: ceria_bps_data id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceria_bps_data ALTER COLUMN id SET DEFAULT nextval('public.ceria_bps_data_id_seq'::regclass);


--
-- Name: ceria_bps_indicators id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceria_bps_indicators ALTER COLUMN id SET DEFAULT nextval('public.ceria_bps_indicators_id_seq'::regclass);


--
-- Name: ceria_bps_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceria_bps_settings ALTER COLUMN id SET DEFAULT nextval('public.ceria_bps_settings_id_seq'::regclass);


--
-- Name: news id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news ALTER COLUMN id SET DEFAULT nextval('public.news_id_seq'::regclass);


--
-- Data for Name: ai_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ceria_bps_data; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ceria_bps_indicators; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ceria_bps_indicators (id, bps_var_id, label, unit, description, last_sync) FROM stdin;
1	2207	[Metode Baru] Indeks Pembangunan Manusia menurut Provinsi (Umur Harapan Hidup Hasil Long Form SP2020)			2026-03-09 11:26:21.869621
4	1360	Perkawinan Anak			2026-03-11 09:49:25.346694
27	25	Sosial-Ekonomi (kemiskinan & IPM)			2026-03-11 09:53:33.302023
\.


--
-- Data for Name: ceria_bps_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: faqs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faqs (id, question, answer, category, tags, is_active, "order", created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pembelajaran; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ran_paud; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ai_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_history_id_seq', 61, true);


--
-- Name: ceria_bps_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ceria_bps_data_id_seq', 1053, true);


--
-- Name: ceria_bps_indicators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ceria_bps_indicators_id_seq', 30, true);


--
-- Name: ceria_bps_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ceria_bps_settings_id_seq', 17, true);


--
-- Name: news_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_id_seq', 29, true);


--
-- Name: ai_history ai_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_history
    ADD CONSTRAINT ai_history_pkey PRIMARY KEY (id);


--
-- Name: ceria_bps_data ceria_bps_data_indicator_id_region_id_period_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceria_bps_data
    ADD CONSTRAINT ceria_bps_data_indicator_id_region_id_period_key UNIQUE (indicator_id, region_id, period);


--
-- Name: ceria_bps_data ceria_bps_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceria_bps_data
    ADD CONSTRAINT ceria_bps_data_pkey PRIMARY KEY (id);


--
-- Name: ceria_bps_indicators ceria_bps_indicators_bps_var_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceria_bps_indicators
    ADD CONSTRAINT ceria_bps_indicators_bps_var_id_key UNIQUE (bps_var_id);


--
-- Name: ceria_bps_indicators ceria_bps_indicators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceria_bps_indicators
    ADD CONSTRAINT ceria_bps_indicators_pkey PRIMARY KEY (id);


--
-- Name: ceria_bps_settings ceria_bps_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceria_bps_settings
    ADD CONSTRAINT ceria_bps_settings_pkey PRIMARY KEY (id);


--
-- Name: faqs faqs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faqs
    ADD CONSTRAINT faqs_pkey PRIMARY KEY (id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: pembelajaran pembelajaran_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pembelajaran
    ADD CONSTRAINT pembelajaran_pkey PRIMARY KEY (id);


--
-- Name: ran_paud ran_paud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ran_paud
    ADD CONSTRAINT ran_paud_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: ceria_bps_data ceria_bps_data_indicator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ceria_bps_data
    ADD CONSTRAINT ceria_bps_data_indicator_id_fkey FOREIGN KEY (indicator_id) REFERENCES public.ceria_bps_indicators(id) ON DELETE CASCADE;


--
-- Name: faqs faqs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faqs
    ADD CONSTRAINT faqs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: news news_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: pembelajaran pembelajaran_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pembelajaran
    ADD CONSTRAINT pembelajaran_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ran_paud ran_paud_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ran_paud
    ADD CONSTRAINT ran_paud_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ran_paud ran_paud_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ran_paud
    ADD CONSTRAINT ran_paud_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ran_paud ran_paud_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ran_paud
    ADD CONSTRAINT ran_paud_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict b49JC3uW9pZRSqxiKOdEhQK40MYwrr9AUa0Cqs9aynWRQ0SzRSqxmrZA7lt2bnX

